<h1>All Tasks</h1>
<%= link_to "Create a new Task", new_task_path %>
<ul id="tasks">
  <% @tasks.each do |task| %>
	<p>Task title: <%= link_to task.title, task_path(task) %></p>
	<p>Task details: <%= task.details %></p>
	  <% if task.completed %>
	    <p class="fa fa-check-square-o" style="font-size:24px"></p>
	  <% else %>
	    <p class="fa fa-square-o" style="font-size:24"></p>
	  <% end %>
  <% end %>
</ul>

